.reviewList {
  width: 95vw;
}

.reviewInfo {
  padding: 16px;
  box-shadow: 0 -2px 1px rgba(171, 205, 205, 0.2);
}

.reviewAuthor {
  font-weight: 600;
  margin-bottom: 16px;
}

.noReviews {
  padding-left: 40px;
  font-style: italic;
}
