.searchForm {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  margin-left: 40px;
}
.searchWord {
  width: 250px;
  padding: 5px 10px;
}
.searchButton {
  width: 100px;
  border-radius: 8px;
  border-color: rgb(138, 134, 134);
  background-color: rgb(73, 72, 72);
}

.searchButton:hover {
  outline: none;
  border-color: rgb(200, 195, 195);
}
