.searchForm {
  display: flex;
  gap: 15px;
  margin: 10px;
  justify-content: center;
}

.searchInput {
  width: 250px;
  padding: 5px 10px;
  outline: none;
}

.searchButton {
  width: 100px;
  border-radius: 8px;
  border-color: rgb(138, 134, 134);
  background-color: rgb(73, 72, 72);
  transition: 250ms ease;
}

.searchButton:hover {
  outline: none;
  border-color: rgb(24, 115, 145);
  background-color: rgb(17, 79, 100);
}

.notFoundFilms {
  font-style: italic;
  text-align: center;
}
