.goBackLink {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: currentColor;
  margin: 20px;
  border: 1px solid white;
  width: 100px;
  border-radius: 8px;
}

.goBackLink:hover {
  color: rgb(57, 178, 218);
  border-color: rgb(57, 178, 218);
}

.addInfoSection {
  margin: 20px auto;
}

.addInfoTtl {
  font-weight: 600;
  font-size: 22px;
  margin: 0 50px 10px;
}

.addInfoLink {
  margin-left: 65px;
  font-size: 18px;
  color: inherit;
}

.addInfoLink:hover,
.active {
  color: rgb(57, 178, 218);
}
